@import '../../styles/abstracts';

.list {
  & > * + * {
    margin-top: rem(16);
  }

  &.horizontal {
    display: flex;

    & > * + * {
      margin-top: 0;
      margin-left: rem(16);
    }
  }
}
