@import '../../styles/abstracts';

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  & > * {
    padding: rem(20);
  }
}

.main {
  flex: 1;
}

.content {
  max-width: rem($breakpoint-large);
  margin: 0 auto;
}
