@import '../../styles/abstracts';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: rem(20);
  font-weight: 400;

  a {
    color: $white;
    text-decoration: none;
  }
}

.link {
  color: $white;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;

  &:hover,
  &.isActive {
    color: $brand;
  }
}

.nav {
  display: flex;

  & > * + * {
    margin-left: rem(18);
  }
}
